<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642807166139-leugbdif5hi990ggq5kpf6lgvpsllvhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642807166139-leugbdif5hi990ggq5kpf6lgvpsllvhk</string>
	<key>API_KEY</key>
	<string>AIzaSyDnBpqrA7r5t4mzKWE3f1sLKUXzuwLGey8</string>
	<key>GCM_SENDER_ID</key>
	<string>642807166139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fdee.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetflix-ac4eb</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflix-ac4eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642807166139:ios:cf08beba484e956265259e</string>
</dict>
</plist>